__pycache__/
*.pyc
**/node_modules/
node_modules/
contracts/node_modules/
.DS_Store
npm-debug.log
package-lock.json
*.log
dist
frontend/.next
.env
artifacts/
cache/
/tmp/
/target/
**/target/
/substrate/pallet-state-board/target/
