# PSV Engine Environment Variables
# Generate key pair:
#   openssl ecparam -name prime256v1 -genkey -noout | openssl pkcs8 -topk8 -nocrypt -out private.pem
#   openssl ec -in private.pem -pubout -out public.pem
#   PSV_SIGNING_PRIVATE_KEY=$(cat private.pem)
#   PSV_SIGNING_PUBLIC_KEY=$(cat public.pem)

PSV_SIGNING_PRIVATE_KEY=
PSV_SIGNING_PUBLIC_KEY=
PSV_SIGNING_KID=vitalcv-psv-key-1
ENGINE_PORT=4000
